//declare variable color

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
  font-family: Nevrada;
  src: url("../fonts/AL_Nevrada_PersonalUseOnly.ttf");
}

$font1: 'Montserrat', sans-serif;
$font2: 'Nevrada';


$color1: #F1E7E7;
$color2: rgba(134, 45, 45, 0.75);

$color3: #862D2D;
$color4: #E6D4D4;
$color5: #441E1E;
$color6: #A05C5C;
$color7: #none;
$color8: #none;
$color9: #none;
$color10: #none;
$color11: #none;
$color12: #none;


.d-flex {
  display: flex;
}

.colunm {
  flex-direction: column;
}

.over-hidden {
  overflow: hidden;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-beetween {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.p-relative {
  position: relative;
}

.p-abso-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-abso {
  position: absolute;
}

.nevrada {
  font-family: $font2;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w45 {

  width: 45%;
}

.w100 {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color6;
}