@import "colors";

body {
  background-color: $color1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home {
  position: relative;
  ///////////// NAV /////////////
  height: 2115px;
  overflow: hidden;

  nav {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: end;
    align-items: center;
    position: relative;
    z-index: 9;
    overflow: hidden;
    top: 81px;
    @media screen and (max-width: 1048px) {
      top: 257px;
    }
    @media screen and (max-width: 846px) {
      top: 220px;
    }
    @media screen and (max-width: 662px) {
      top: 159px;
    }
    @media screen and (max-width: 426px) {
      top: 97px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4em;
      @media screen and (max-width: 426px) {
        gap: 3em;
      }

      li {
        list-style: none;

        .active-menu {
          width: 184px;
          display: flex !important;
          animation: height 0.3s linear both;
        }

        @keyframes height {
          from {
            height: 0;
            opacity: 0;
          }
          to {
            height: 77px;
            opacity: 1;
          }
        }

        .sous-menu {
          display: none;
          background-color: #f1e7e7;
          border-radius: 5px;
          padding: 13px 13px 13px 13px;
          position: absolute;
          left: 24px;
          top: 40px;
          transition: all 0.5s linear;
          opacity: 0;
          flex-direction: column;
          z-index: 5;
          gap: 10px;

          a {
            flex-direction: row !important;

            &:after {
              content: none !important;
            }

            &:before {
              content: none !important;
            }
          }

          a {
            font-size: 16px;
            font-weight: 300;
          }
        }

        a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-family: $font1;
          font-size: 20px;
          font-weight: 500;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: 9px;
          position: relative;
          @media screen and (max-width: 474px) {
            font-size: 15px;
          }

          &:after {
            @media screen and (max-width: 1048px) {
              content: none;
            }
            content: "";
            width: 36px;
            height: 36px;
            transition: all 0.2s linear;
            opacity: 0;
          }

          &:hover {
            &:after {
              content: url("../img/Fleur souris.svg");
              width: 36px;
              height: 36px;
              transition: all 0.2s linear;
              opacity: 1;
              animation: rotatePicto 10s infinite linear;
            }
          }

          @keyframes rotatePicto {
            0% {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }

          }

        }

        &:nth-child(1) {
          position: relative;
          right: 500px;
          @media screen and (max-width: 1456px) {
            right: 400px;
          }
          @media screen and (max-width: 1048px) {
            right: 250px;
          }
          @media screen and (max-width: 882px) {
            right: 90px;
          }
          @media screen and (max-width: 574px) {
            right: 40px;
          }

          //a {
          //  &:before {
          //    content: url("../img/chevron-down-solid.svg");
          //    display: block;
          //    width: 15px;
          //  }
          //}

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            @media screen and (max-width: 846px) {
              background-color: $color5;

            }
          }


        }

        &:nth-child(2) {
          position: relative;
          right: 400px;

          @media screen and (max-width: 1456px) {
            right: 300px;
          }
          @media screen and (max-width: 1048px) {

            right: 350px;

          }
          @media screen and (max-width: 882px) {
            right: 176px;
          }
          @media screen and (max-width: 574px) {
            right: 113px;
          }

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: 11px;
            bottom: -6px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            @media screen and (max-width: 846px) {
              background-color: $color5;
            }
            @media screen and (max-width: 474px) {
              left: 6px;
            }

          }
        }

        &:nth-child(3) {
          position: relative;
          right: 300px;
          @media screen and (max-width: 1456px) {
            right: 200px;
          }
          @media screen and (max-width: 1048px) {

            right: 450px;

          }
          @media screen and (max-width: 882px) {
            right: 239px;
          }
          @media screen and (max-width: 574px) {
            right: 185px;
          }

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            @media screen and (max-width: 846px) {
              background-color: $color5;
            }
            @media screen and (max-width: 474px) {
              left: 17px;
            }
          }
        }

        &:nth-child(4) {
          position: relative;
          right: 200px;


          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            @media screen and (max-width: 1456px) {
              background-color: transparent !important;
            }
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;

          }
        }

        &:nth-child(5) {
          position: relative;
          right: 100px;


          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            @media screen and (max-width: 1456px) {
              background-color: transparent !important;
            }
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;

          }

        }
      }
    }
  }

  .circle-home {
    height: 1950px;
    width: 118%;
    background-color: rgba(134, 45, 45, .75);
    border-radius: 50%;
    position: absolute;
    top: -317px;
    left: -23%;
    z-index: 1;
    @media screen and (max-width: 1468px) {
      height: 1453px;
      width: 112%;
    }
    @media screen and (max-width: 1342px) {
      height: 1279px;
    }
    @media screen and (max-width: 1048px) {
      height: 1056px;
      width: 105%;
      left: -15%;
      background-color: #A05C5C;
      z-index: 4;
    }
    @media screen and (max-width: 902px) {
      height: 1001px;
      width: 105%;
    }
    @media screen and (max-width: 882px) {
      left: -6%;
    }
    @media screen and (max-width: 846px) {
      height: 1036px;
      width: 122%;
      left: -11%;
    }

    @media screen and (max-width: 710px) {
      height: 930px;
      width: 122%;
      left: -11%;
    }
    @media screen and (max-width: 662px) {
      height: 871px;
      width: 122%;
      left: -11%;
    }
    @media screen and (max-width: 574px) {
      height: 810px;
      width: 122%;
      left: -11%;
    }
    @media screen and (max-width: 550px) {
      height: 810px;
      width: 147%;
      left: -30%;
    }
    @media screen and (max-width: 426px) {
      height: 792px;
      width: 180%;
      left: -48%;
    }
  }

  .profile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    hr {
      position: absolute;
      width: 228px;
      height: 3px;
      background-color: $color1;
      border: none;
      bottom: 56px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      @media screen and (max-width: 1048px) {
        display: none;
      }
    }

    .profile-mandala-img {
      position: absolute;


      img {
        &:nth-child(1) {
          @media screen and (max-width: 710px) {
            width: 210px;
          }
          @media screen and (max-width: 474px) {
            width: 196px;
          }
        }
      }

      .img-melissa {
        position: absolute;
        left: 23px;
        top: 11px;
        @media screen and (max-width: 710px) {
          left: 19px;
          top: 16px;
          width: 170px;
        }
        @media screen and (max-width: 474px) {
          left: 18px;
          top: 16px;
          width: 159px;
        }
      }
    }

    .profile-top-left {
      @media screen and (max-width: 710px) {
        width: 300px;
      }
      @media screen and (max-width: 474px) {
        width: 266px;
        position: relative;
        top: -9px;
      }
    }
  }

  .bonjour {
    position: absolute;
    top: 356px;
    z-index: 4;
    padding-left: 320px;
    padding-bottom: 46px;
    div{
      @media screen and (max-width: 516px) {
        padding-top: 4em;
      }
    }
    @media screen and (max-width: 1508px) {
      padding-left: 400px;
    }
    @media screen and (max-width: 1288px) {
      padding-left: 300px;
    }
    @media screen and (max-width: 1048px) {
      position: relative !important;
      padding-bottom: 0 !important;
      top: 0 !important;
      width: 835px;
      height: 835px;
      padding-left: 0 !important;
      margin: 0 auto;
      /* padding-top: 18em; */
      background-color: #441E1E;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 2;
    }
    @media screen and (max-width: 822px) {
      position: relative !important;
      padding-bottom: 0 !important;
      top: 0 !important;
      width: 136%;
      left: -150px;
      height: 835px;
      padding-left: 0 !important;
      margin: 0 auto;
      background-color: #441e1e;
      /* border-radius: 50%; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 2;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    @media screen and (max-width: 710px) {
      top: -85px !important;
    }
    @media screen and (max-width: 662px) {
      top: -156px !important;
    }
    @media screen and (max-width: 574px) {
      top: -225px !important;
      width: 154%;
      left: -150px;
      height: 835px;
    }
    @media screen and (max-width: 516px) {
      top: -177px !important;
      width: 155%;
      left: -146px;
      height: 693px;
    }

    h1 {
      margin-top: 50px;
      color: white;
      font-family: $font1;
      font-weight: 400;
      font-size: 48px;
      margin-bottom: 0;
      @media screen and (max-width: 1048px) {
        max-width: 300px;
        font-size: 36px;

      }
    }

    h2 {
      margin-top: 10px;
      color: white;
      font-family: $font1;
      font-weight: 400;
      font-size: 44px;
      margin-bottom: 50px;
      @media screen and (max-width: 1048px) {
        max-width: 300px;
        font-size: 36px;
        margin-bottom: 0;
      }
    }

    p {
      color: white;
      font-family: $font1;
      font-weight: 400;
      font-size: 20px;
      @media screen and (max-width: 1508px) {
        max-width: 450px;
        text-align: justify;
      }
    }

    &:after {
      content: "";
      width: 1500px;
      height: 3px;
      background-color: #f1e7e7;
      display: block;
      position: absolute;
      top: -4px;
      left: 319px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      @media screen and (max-width: 1048px) {
        display: none;
      }
    }

    &:before {
      content: "";
      width: 914px;
      height: 3px;
      background-color: #f1e7e7;
      display: block;
      position: absolute;
      bottom: -4px;
      left: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      @media screen and (max-width: 1048px) {
        display: none;
      }
    }
  }

  .chevron-down-header {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 1048px) {
      display: none;
    }
    @media screen and (max-width: 1342px) {
      top: 47%;
    }
  }

  .about-me {

    position: absolute;
    top: 920px;
    left: 290px;

    z-index: 3;
    @media screen and (max-width: 1048px) {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }
    @media screen and (max-width: 1465px) {
      position: relative;
      top: 700px;
      left: 160px;
      z-index: 3;
      margin-bottom: 5em;
    }
    @media screen and (max-width: 1048px) {
      width: 80%;
      margin: 0 auto;
    }

    h3 {
      font-family: $font2;
      font-weight: 400;
      font-size: 24px;
      @media screen and (max-width: 1465px) {
        color: $color5;
      }
    }

    .p-size {
      width: 444px;
      margin-bottom: 40px;
      margin-top: 40px;
      padding-left: 0;
      text-align: justify;
    }

    p {
      color: white;
      font-size: 20px;
      font-family: $font1;
      padding-left: 15px;
      @media screen and (max-width: 1465px) {
        color: black;
      }
    }
  }

  .mandala-home-bottom {
    position: absolute;
    top: 950px;
    z-index: 8;
    right: -365px;
    rotate: 90deg;
    @media screen and (max-width: 1658px) {
      width: 1000px;
    }
    @media screen and (max-width: 1364px) {
      width: 800px;
    }
    @media screen and (max-width: 1048px) {
      z-index: 1;
    }
    @media screen and (max-width: 938px) {
      width: 700px;
    }
  }

  .chevron-down-header2 {
    position: absolute;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    bottom: 50px;

  }

  .ampoule {
    position: absolute;
    bottom: 180px;
    left: 450px;
    width: 220px;
    @media screen and (max-width: 1465px) {
      position: absolute;
      bottom: 180px;
      left: 739px;
      width: 220px;
    }
    @media screen and (max-width: 930px) {
      position: absolute;
      bottom: 250px;
      left: 639px;
      width: 220px;
    }
  }
}

.cv {
  .no-border-raduis {
    border-radius: 0 !important;
  }

  .taille-logo {
    width: 46px;
    height: 45px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .weight {
    font-weight: 500;
  }

  .rectangle-feuille {
    opacity: 0.4;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    margin-top: 4em;
    margin-bottom: 0;
    width: 80%;
    height: 150px;
    object-fit: cover;
  }

  h4 {
    color: black;
    font-family: $font1;
    font-size: 24px;
    text-transform: capitalize;
  }

  .spaceTop {
    margin-top: 10px;
  }

  .red300 {
    color: $color2;
    font-weight: 400;
  }

  .red {
    color: $color3;
    font-weight: 500;
  }

  p {
    font-family: $font1;

    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 0;
  }

  ul {
    line-height: 25px;
    margin-top: 0;
  }

  li {
    position: relative;
    font-family: $font1;
    list-style: none;
    font-weight: 300;

    &:after {
      content: ".";
      position: absolute;
      left: -10px;
      top: -4px;
    }

  }

  span {
    font-family: $font1;
    font-weight: 300;
  }

  .cv-experience {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .left {
      display: flex;
      flex-direction: column;
      gap: 6em;

      .etudes-cv {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }

    .logo {
      display: flex;
      flex-wrap: wrap;
      gap: 17px;
      align-items: center;
      justify-content: center;
      width: 290px;

      img {
        border-radius: 10px;
      }
    }
  }

  .experience {
    width: 347px;

    .exp {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  .langue {
    h4 {
      margin-bottom: 15px;
    }

    .langue-p {
      p {
        margin-top: 0;

        &:nth-child(2) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .asso {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .lma {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.chevron-down-header3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}


.formContact {
  position: relative;
  overflow-x: clip;
  justify-content: space-evenly;
  display: flex;
  margin-top: 3em;

  .form {
    width: 540px;
    display: flex;
    align-items: end;
    justify-content: end;

    form {
      width: 80%;
    }
  }

  .MandalaCV {
    position: absolute;
    top: -220px;
    right: -370px;
    z-index: 1;
    width: 736px;
    height: 718px;
  }

  label {
    margin-bottom: 5px;
  }

  .gap50 {
    gap: 20px;
  }

  h4 {
    font-family: $font1;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 50px;
  }

  input {
    font-family: $font1;
    height: 30px;
    background-color: $color4;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 25px;
    padding-left: 15px;
  }

  textarea {
    font-family: $font1;
    background-color: $color4;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 15px;
  }

  .send {
    padding: 6px 40px;
    border: none;
    background-color: $color2;
    border-radius: 8px;
    height: auto;
    color: $color1;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      padding: 6px 60px;
      color: $color1;
      transition: all 0.5s ease-in-out;
      font-size: 20px;
    }
  }

  label {
    color: black;
    font-family: $font1;
    font-weight: 300;
    font-size: 20px;
  }

  a {
    color: black;
    font-family: $font1;
    text-decoration: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 4em;
    position: relative;
    top: -50px;
    width: 540px;

    h4 {
      color: $color2;
      font-family: $font1;
      font-weight: 400;
    }

    .contact-picto {
      display: flex;
      flex-direction: column;
      gap: 3em;
    }
  }
}

.cv-title {
  font-size: 36px;
  font-weight: 400;
  top: 55%;
  margin: 0;
  z-index: 1;
}

footer {
  position: relative;
  overflow: hidden;
  height: 405px;

  display: flex;
  align-items: end;
  justify-content: end;

  .bandeaux {
    height: 188.04px;
    width: 100%;
    position: absolute;
    background-color: $color5;
    z-index: -1;

  }

  .chevron-down-header4 {
    position: absolute;
    left: -175px;
    width: 581.28px;
    height: 572.4px;
    top: 100px;
    transform: rotate(11.55deg);

  }

  .contact-footer {
    height: 188px;

    width: 100%;
    display: flex;
    justify-content: inherit;
    gap: 5em;
    padding-right: 10em;
    position: relative;

    svg {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    a {
      width: 159.055px;
      height: 159.055px;
      border-radius: 50%;
      background-color: $color5;
      text-decoration: none;
      color: $color1;
      font-size: 22.29px;
      font-family: $font1;
      border: 10px solid $color1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -90px;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: $color1;
        color: $color5;
        transition: all 0.5s ease-in-out;
        font-size: 24px;
      }
    }
  }
}