@import "colors";

body {
  background-color: $color1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  position: relative;
  ///////////// NAV /////////////
  height: 2115px;
  overflow: hidden;

  nav {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: end;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    top: 81px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 4em;

      li {
        list-style: none;

        .active-menu {
          width: 184px;
          display: flex !important;
          animation: height 0.3s linear both;
        }

        @keyframes height {
          from {
            height: 0;
            opacity: 0;
          }
          to {
            height: 77px;
            opacity: 1;
          }
        }

        .sous-menu {
          display: none;
          background-color: #f1e7e7;
          border-radius: 5px;
          padding: 13px 13px 13px 13px;
          position: absolute;
          left: 24px;
          top: 40px;
          transition: all 0.5s linear;
          opacity: 0;
          flex-direction: column;
          z-index: 5;
          gap: 10px;

          a {
            flex-direction: row !important;

            &:after {
              content: none !important;
            }

            &:before {
              content: none !important;
            }
          }

          a {
            font-size: 16px;
            font-weight: 300;
          }
        }

        a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-family: $font1;
          font-size: 20px;
          font-weight: 500;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: 9px;
          position: relative;

          &:after {
            content: "";
            width: 36px;
            height: 36px;
            transition: all 0.2s linear;
            opacity: 0;
          }

          &:hover {
            &:after {
              content: url("../img/Fleur souris.svg");
              width: 36px;
              height: 36px;
              transition: all 0.2s linear;
              opacity: 1;
            }
          }


        }

        &:nth-child(1) {
          position: relative;
          right: 500px;

          //a {
          //  &:before {
          //    content: url("../img/chevron-down-solid.svg");
          //    display: block;
          //    width: 15px;
          //  }
          //}

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
          }


        }

        &:nth-child(2) {
          position: relative;
          right: 400px;

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: 11px;
            bottom: -6px;
          }
        }

        &:nth-child(3) {
          position: relative;
          right: 300px;

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
          }
        }

        &:nth-child(4) {
          position: relative;
          right: 200px;

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
          }
        }

        &:nth-child(5) {
          position: relative;
          right: 100px;

          &:after {
            content: "";
            width: 500px;
            height: 3px;
            background-color: #f1e7e7;
            display: block;
            position: absolute;
            left: -1px;
            bottom: -6px;
          }
        }
      }
    }
  }

  .circle-home {
    height: 1950px;
    width: 118%;
    background-color: rgba(134, 45, 45, .75);
    border-radius: 50%;
    position: absolute;
    top: -317px;
    left: -23%;
    z-index: 1;

  }

  .profile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    hr {
      position: absolute;
      width: 228px;
      height: 3px;
      background-color: $color1;
      border: none;
      bottom: 56px;
    }

    .profile-mandala-img {
      position: absolute;

      .img-melissa {
        position: absolute;
        left: 16px;
        top: 11px;
      }
    }
  }

  .bonjour {
    position: absolute;
    top: 356px;
    z-index: 4;
    padding-left: 320px;
    padding-bottom: 46px;

    h1 {
      margin-top: 50px;
      color: white;
      font-family: $font1;
      font-weight: 400;
      font-size: 48px;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 10px;
      color: white;
      font-family: $font1;
      font-weight: 400;
      font-size: 44px;
      margin-bottom: 50px;
    }

    p {
      color: white;
      font-family: $font1;
      font-weight: 400;
      font-size: 20px;
    }

    &:after {
      content: "";
      width: 1500px;
      height: 3px;
      background-color: #f1e7e7;
      display: block;
      position: absolute;
      top: -4px;
      left: 319px;
    }

    &:before {
      content: "";
      width: 914px;
      height: 3px;
      background-color: #f1e7e7;
      display: block;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
  }

  .chevron-down-header {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
  }

  .about-me {

    position: absolute;
    top: 920px;
    left: 290px;

    z-index: 3;

    h3 {
      font-family: $font2;
      font-weight: 400;
      font-size: 24px;
    }

    .p-size {
      width: 444px;
      margin-bottom: 40px;
      margin-top: 40px;
      padding-left: 0;
    }

    p {
      color: white;
      font-size: 20px;
      font-family: $font1;
      padding-left: 15px;
    }
  }

  .mandala-home-bottom {
    position: absolute;
    top: 950px;
    z-index: 8;
    right: -365px;
    rotate: 90deg;
  }

  .chevron-down-header2 {
    position: absolute;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    bottom: 50px;
  }
}

.cv {

  .weight {
    font-weight: 500;
  }

  .rectangle-feuille {
    opacity: 0.4;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  h4 {
    color: black;
    font-family: $font1;
    font-size: 24px;
    text-transform: capitalize;
  }

  .spaceTop {
    margin-top: 10px;
  }

  .red300 {
    color: $color2;
    font-weight: 400;
  }

  .red {
    color: $color3;
    font-weight: 500;
  }

  p {
    font-family: $font1;

    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 30px;
  }

  ul {
    line-height: 25px;
    margin-top: 0;
  }

  li {
    position: relative;
    font-family: $font1;
    list-style: none;
    font-weight: 300;

    &:after {
      content: ".";
      position: absolute;
      left: -10px;
      top: -4px;
    }

  }

  span {
    font-family: $font1;
    font-weight: 300;
  }

  .cv-experience {
    display: flex;
    justify-content: center;
    gap: 14em;

    .left {
      display: flex;
      flex-direction: column;
      gap: 6em;
    }

    .logo {
      display: flex;
      flex-wrap: wrap;
      gap: 17px;
      align-items: center;
      justify-content: center;
      width: 290px;

      img {
        border-radius: 10px;
      }
    }
  }

  .experience {
    width: 347px;
  }

  .langue {
    h4 {
      margin-bottom: 15px;
    }

    .langue-p {
      p {
        margin-top: 0;

        &:nth-child(2) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.chevron-down-header3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}


.formContact {
  position: relative;
  overflow-x: clip;
  justify-content: space-evenly;
  display: flex;
  margin-top: 3em;

  .MandalaCV {
    position: absolute;
    top: -220px;
    right: -370px;
    z-index: 1;
    width: 736px;
    height: 718px;
  }

  label {
    margin-bottom: 5px;
  }

  .gap50 {
    gap: 50px;
  }

  h4 {
    font-family: $font1;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
  }

  input {

    height: 20px;
    background-color: $color4;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 25px;
  }

  textarea {
    background-color: $color4;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 25px;
  }

  .send {
    padding: 6px 40px;
    border: none;
    background-color: $color2;
    border-radius: 8px;
    height: auto;
    color: white;
    margin: 0 auto;
    display: block;
    font-size: 20px;
  }

  label {
    color: black;
    font-family: $font1;
    font-weight: 300;
    font-size: 20px;
  }

  a {
    color: black;
    font-family: $font1;
    text-decoration: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
    top: -30px;

    h4 {
      color: $color2;
      font-family: $font1;
      font-weight: 400;
    }

    .contact-picto {
      display: flex;
      flex-direction: column;
      gap: 3em;
    }
  }
}

footer {
  position: relative;
  overflow: hidden;
  height: 405px;


  .chevron-down-header4 {
    position: absolute;
    left: -200px;
    width: 736px;
    height: 718px;
    top: 8px;
  }

  .red-circle-footer {
    width: 615px;
    height: 615px;
    position: absolute;
    border-radius: 50%;
    background-color: $color5;
    bottom: -370px;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
  }
}