@import "colors";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color1;
}

.ici {
  position: absolute;
  top: 76%;
  left: 31%;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

nav {
  height: 241px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 4em;


  .navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .navBot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;

    #sous-menu {


      &:before {
        content: url("../img/chevron-down-solid.svg");
        display: block;
        position: absolute;
        right: -23px;
        top: 5px;
        width: 14px;
      }

    }

  }

  a {
    text-decoration: none;
    color: #000;
    font-family: $font1;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      width: 36px;
      height: 36px;
      transition: all 0.2s linear;
      opacity: 0;
      display: block;
      margin-right: 7px;
    }

    &:hover {
      &:after {
        content: url("../img/Fleur souris.svg");
        width: 36px;
        height: 36px;
        transition: all 0.2s linear;
        opacity: 1;
        margin-right: 7px;
        animation: rotatePicto 10s infinite linear;
      }
    }
  }

  @keyframes rotatePicto {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }

  .circle {
    position: absolute;
    width: 569px;
    height: 565px;
    border-radius: 50%;

    left: 50%;

    transform: translateX(-50%);

    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      z-index: 20;
      position: relative;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      font-family: $font2;
      color: $color3;

      top: -31px;

    }

    img {
      position: absolute;
      top: 47px;
    }
  }
}

.presentation-mandala {

  margin-top: 4em;
  padding-left: 24em;
  position: relative;

  p {
    color: var(--Noir, #000);
    font-family: $font1;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 380px;
  }

  span {
    font-weight: 500;
  }

  .premier-mandala {
    position: absolute;
    right: 212px;
    top: -100px;
  }
}

.chevron-down-header3 {
  margin: 0 auto;
  display: block;

  img {
    margin: 0 auto;
    display: block;
  }
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.fleche {
  position: relative;
  top: 300px;
}

.caligraphie {
  margin-top: 40em;
  display: flex;
  align-items: center;
  height: 851px;

  .cali1 {
    left: 490px;
    top: -171px;
  }

  .cali2 {
    left: 227px;
  }

  .cali3 {
    left: 750px;
  }

  p {
    left: 1300px;
    top: 37px;
    color: black;

    font-family: $font1;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

}

.couleur-mandala {
  hr {
    width: 653px;
    height: 4px;
    background-color: $color3;
    border: none;
    left: 0;
    top: 60px;
  }

  .deuxieme-mandala {
    position: relative;
    left: -150px;
    rotate: 43deg;
  }

  .txt-couleur {

    top: -80px;

    h4 {
      color: black;
      width: 355px;
      text-align: justify;
      font-family: $font1;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    p {
      font-family: $font1;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      width: 355px;
      text-align: justify;
      margin: 0;
    }
  }
}

.mandala-flamme {
  p {
    width: 409px;
    text-align: justify;
    font-family: $font1;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.mandala-orientale {
  display: flex;
  justify-content: center;
  gap: 9em;

  p {
    max-width: 595px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 6em;
    padding-left: 5em;
  }
}

.IDsuivante {
  margin-top: 10em;
  margin-bottom: 3em;

  a {
    img {
      margin: 0 auto;
      display: block;
    }
  }

}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 400px;

  .mail-adress {
    transition: all 0.5s ease-in-out;
    position: absolute;

    transform: translate(-50%, -50%) scale(0);
    margin: 0;
    color: $color1;
    font-family: $font1;
    top: 77%;
    left: 593px;
    z-index: 1;
  }

  .bg-tel {
    background-color: $color1 !important;
    transition: all 0.5s ease-in-out;
  }

  .bg-mail {
    background-color: $color1 !important;
    transition: all 0.5s ease-in-out;
  }

  .tel-number {
    transition: all 0.5s ease-in-out;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    margin: 0;
    color: $color1;
    font-family: $font1;
    width: 100%;
    text-align: center;
    top: 77%;
    left: 409px;
    z-index: 1;
  }

  .active-tel {
    transform: translate(-50%, -50%) scale(1) !important;
    transition: all 0.5s ease-in-out;

  }

  .active-mail {
    transform: translate(-50%, -50%) scale(1) !important;
    transition: all 0.5s ease-in-out;

  }

  .contact {
    bottom: -100px;
    left: -53px;
    width: 307px;
    height: 324.331px;
    cursor: url(../img/Dino.png), auto;
    border: 19px solid $color1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: $color3;

    a {
      color: $color1;
      text-decoration: none;
      font-size: 28px;
      font-family: $font1;
      font-weight: 400;
      cursor: url(../img/Dino.png), auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -20px;

      svg {
        position: relative;
        top: 30px;
        left: 15px;
      }
    }

    img {
      width: 248px;
      height: 262px;

    }
  }

  .picto {

    display: flex;
    gap: 3em;
    margin-left: 345px;
    position: relative;
    top: -58px;

    border-radius: 50%;


    .tel {
      width: 109.3px;
      height: 109.3px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color3;
      border-radius: 50%;
      border: 11.38px solid $color1;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      .active-img {

        transition: all 0.5s ease-in-out;

      }


      img {
        transition: all 0.5s ease-in-out;

      }


    }

    .mail {
      width: 109.3px;
      height: 109.3px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color3;
      border-radius: 50%;
      border: 11.38px solid $color1;
      cursor: pointer;

      .active-img {

        transition: all 0.5s ease-in-out;

      }


      img {
        transition: all 0.5s ease-in-out;
      }


    }

    .linkedin {
      width: 109.3px;
      height: 109.3px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color3;
      border-radius: 50%;
      border: 11.38px solid $color1;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }

    .bg-linkedin {
      background-color: $color1 !important;
      transition: all 0.5s ease-in-out;
    }
  }

  .bandeaux {
    background-color: $color5;
    display: flex;
    border-top-left-radius: 50px;
    height: 200px;

    .nav-right {
      width: 47%;
      margin: 0 auto;
      gap: 3em;

      a {
        width: 159.055px;
        height: 159.055px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $color1;
        font-family: $font1;
        font-size: 22.29px;
        font-weight: 400;
        background-color: $color6;
        top: -55px;
        position: relative;
        border: 12px solid $color1;
        transition: all 0.5s ease-in-out;

        &:hover {
          background-color: $color1;
          color: $color6;
          transition: all 0.5s ease-in-out;
          font-size: 24px;
        }
      }
    }
  }
}

.active-menu {
  width: 184px;
  display: flex !important;
  animation: height 0.3s linear both;
}

@keyframes height {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 117px;
    opacity: 1;
  }
}

.sous-menu {
  display: none;
  background-color: #f1e7e7;
  border-radius: 5px;

  position: absolute;
  left: 24px;
  top: 40px;
  transition: all 0.5s linear;
  opacity: 0;
  flex-direction: column;
  z-index: 5;


  a {
    flex-direction: row !important;

    &:after {
      content: none !important;
    }

    &:before {
      content: none !important;
    }
  }

  a {
    font-size: 16px;
    font-weight: 300;
    color: black;
    display: block !important;
    padding: 10px;
    &:nth-child(1) {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:nth-child(3) {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:hover {
      background: rgba(160, 92, 92, 0.50);

      padding: 10px;
    }

  }
}

