@import "colors";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color1;
}

nav {

  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 4em;
  background-color: $color1;
  height: 370px;
  align-items: start;
  padding-top: 60px;
  position: relative;


  .navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }

  .navBot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;

    #sous-menu {


      &:before {
        content: url("../img/chevron-down-solid.svg");
        display: block;
        position: absolute;
        right: -23px;
        top: 3px;
        width: 14px;
      }

    }

  }

  a {
    text-decoration: none;
    color: black;
    font-family: $font1;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      width: 36px;
      height: 36px;
      transition: all 0.2s linear;
      opacity: 0;
      display: block;
      margin-right: 7px;
    }

    &:hover {
      &:after {
        content: url("../img/Fleur souris.svg");
        width: 36px;
        height: 36px;
        transition: all 0.2s linear;
        opacity: 1;
        margin-right: 7px;
        animation: rotatePicto 10s infinite linear;
      }
    }
  }

  @keyframes rotatePicto {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }

  .circle {
    position: absolute;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    left: 50%;
    top: -250px;
    transform: translateX(-50%);

    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      z-index: 20;
      position: relative;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      font-family: $font2;
      color: $color1;
      top: 110px;
      text-align: center;
      line-height: 80px;
    }

    img {
      position: absolute;
      bottom: -62px;
    }
  }
}

//// main portefolio ////
.main-portefolio {
  .header {
    height: 900px;
  }

  .rond-rouge-foncé {
    left: 13%;
    height: 698px;
    width: 698px;
    top: -93px;

    .z-index-typo {
      z-index: 3;
    }

    .back {
      z-index: 1;
      right: 75px;
      top: 100px;
    }

    .front {
      z-index: 2;
    }
  }

  .couleur {
    width: 544px;
    height: 544px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      position: relative;
      z-index: 2;
      position: relative;
      top: -76px;
    }

    .desc-color {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 311px;
      gap: 10px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: relative;
        z-index: 2;
        top: -76px;
      }

    }

    img {
      z-index: 1;
    }
  }

  .desciption {
    width: 617px;
    height: 617px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: -228px;
    left: 99px;

    img {
      z-index: 1;
    }

    p {
      position: relative;
      z-index: 2;
      max-width: 410px;
      text-align: justify;
      color: $color1;
      font-family: $font1;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  .right {
    left: 59%;
    top: -193px;
  }

  .arbo {
    height: 960px;
    display: flex;

    .red {
      background-color: $color5;
      width: 90%;

      img {
        display: block;
        margin: 0 auto;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        top: 48%;
      }

      .archi {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 244px;
        height: 244px;
        border: 10px solid $color1;
        border-radius: 50%;
        position: relative;
        top: -122px;
        margin-left: 15em;

        h2 {
          position: relative;
          z-index: 2;
          color: $color1;
          text-align: justify;
          font-family: $font1;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      .maquette {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 244px;
        height: 244px;
        border: 10px solid $color1;
        border-radius: 50%;
        position: absolute;
        bottom: -122px;
        right: 0;
        margin-right: 15em;

        h2 {
          position: relative;
          z-index: 2;
          color: $color1;
          text-align: justify;
          font-family: $font1;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .grey {
      background: rgba(68, 30, 30, 0.50);
      width: 10%;
    }
  }


}

.slide-maquette {
  margin-top: 20em;

  .desktop {
    width: 70%;
    margin: 0 auto;
    background-color: $color5;
    border-radius: 50px;
    height: 49px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      font-family: $font1;
      font-size: 24px;
      font-weight: 400;
      color: $color1;

    }
  }
}

.Sp {
  margin-top: 20em;

  .smartphone {
    width: 70%;
    margin: 0 auto;
    background-color: $color5;
    border-radius: 50px;
    height: 49px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      font-family: $font1;
      font-size: 24px;
      font-weight: 400;
      color: $color1;

    }


  }

  img {
    margin-top: 3em;
    width: 100%;
  }
}

.deux-version {
  margin-top: 20em;
  height: 897px;
  background: rgba(134, 45, 45, 0.91);

  .all-version {
    width: 83%;
    margin: 0 auto;
    background-color: $color5;
    border-radius: 50px;
    height: 49px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 55px;
    left: 6px;
    z-index: 2;

    h4 {
      font-family: $font1;
      font-size: 24px;
      font-weight: 400;
      color: $color1;

    }

    img {
      margin-top: 3em;

    }
  }

  img {
    position: relative;
    top: 32px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

}

.aller-retour {
  margin-top: 10em;

  .aller {
    width: 100%;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    background-color: $color6;
    height: 236px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      max-width: 1268px;
      color: $color1;

      text-align: justify;
      font-family: $font1;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  .retour {
    width: 95%;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    background: rgba(160, 92, 92, .2);
    height: 236px;
    margin-top: -118px;
  }
}

.travaillons-ensemble {
  margin-top: 5em;

  .travaillons {
    display: flex;
    height: 89px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $color5;
    max-width: 660px;
    border-radius: 100px;
    margin: 0 auto;

    h5 {
      margin: 0;
      color: $color1;
      text-align: justify;
      font-family: $font1;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  .ensemble {
    display: flex;
    height: 89px;
    max-width: 660px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(68, 30, 30, 0.20);
    border-radius: 100px;
    margin: 0 auto;
    position: relative;
    top: -44.5px;
    left: 100px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 400px;

  .mail-adress {
    transition: all 0.5s ease-in-out;
    position: absolute;

    transform: translate(-50%, -50%) scale(0);
    margin: 0;
    color: $color1;
    font-family: $font1;
    top: 77%;
    left: 593px;
    z-index: 1;
  }

  .bg-tel {
    background-color: $color1 !important;
    transition: all 0.5s ease-in-out;
  }

  .bg-mail {
    background-color: $color1 !important;
    transition: all 0.5s ease-in-out;
  }

  .tel-number {
    transition: all 0.5s ease-in-out;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    margin: 0;
    color: $color1;
    font-family: $font1;
    width: 100%;
    text-align: center;
    top: 77%;
    left: 409px;
    z-index: 1;
  }

  .active-tel {
    transform: translate(-50%, -50%) scale(1) !important;
    transition: all 0.5s ease-in-out;

  }

  .active-mail {
    transform: translate(-50%, -50%) scale(1) !important;
    transition: all 0.5s ease-in-out;

  }

  .contact {
    bottom: -100px;
    left: -53px;
    width: 307px;
    height: 324.331px;
    cursor: url(../img/Dino.png), auto;
    border: 19px solid $color1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: $color3;

    a {
      color: $color1;
      text-decoration: none;
      font-size: 28px;
      font-family: $font1;
      font-weight: 400;
      cursor: url(../img/Dino.png), auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -20px;

      svg {
        position: relative;
        top: 30px;
        left: 15px;
      }
    }

    img {
      width: 248px;
      height: 262px;

    }
  }

  .picto {

    display: flex;
    gap: 3em;
    margin-left: 345px;
    position: relative;
    top: -58px;

    border-radius: 50%;


    .tel {
      width: 109.3px;
      height: 109.3px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color3;
      border-radius: 50%;
      border: 11.38px solid $color1;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      .active-img {

        transition: all 0.5s ease-in-out;

      }


      img {
        transition: all 0.5s ease-in-out;

      }


    }

    .mail {
      width: 109.3px;
      height: 109.3px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color3;
      border-radius: 50%;
      border: 11.38px solid $color1;
      cursor: pointer;

      .active-img {

        transition: all 0.5s ease-in-out;

      }


      img {
        transition: all 0.5s ease-in-out;
      }


    }

    .linkedin {
      width: 109.3px;
      height: 109.3px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color3;
      border-radius: 50%;
      border: 11.38px solid $color1;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }

    .bg-linkedin {
      background-color: $color1 !important;
      transition: all 0.5s ease-in-out;
    }
  }

  .bandeaux {
    background-color: $color5;
    display: flex;
    border-top-left-radius: 50px;
    height: 200px;

    .nav-right {
      width: 47%;
      margin: 0 auto;
      gap: 3em;

      a {
        width: 159.055px;
        height: 159.055px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $color1;
        font-family: $font1;
        font-size: 22.29px;
        font-weight: 400;
        background-color: $color6;
        top: -55px;
        position: relative;
        border: 12px solid $color1;
        transition: all 0.5s ease-in-out;

        &:hover {
          background-color: $color1;
          color: $color6;
          transition: all 0.5s ease-in-out;
          font-size: 24px;
        }
      }
    }
  }
}

.active-menu {
  width: 184px;
  display: flex !important;
  animation: height 0.3s linear both;
}

@keyframes height {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 118px;
    opacity: 1;
  }
}

.sous-menu {
  display: none;
  background-color: $color5;
  border-radius: 5px;

  position: absolute;
  left: 24px;
  top: 40px;
  transition: all 0.5s linear;
  opacity: 0;
  flex-direction: column;
  z-index: 5;


  a {
    flex-direction: row !important;

    &:after {
      content: none !important;
    }

    &:before {
      content: none !important;
    }
  }

  a {
    font-size: 16px;
    font-weight: 300;
    color: $color1;
    display: block !important;
    padding: 10px;

    &:nth-child(1) {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:nth-child(3) {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:hover {
      background: rgba(160, 92, 92, 0.50);

      padding: 10px;
    }

  }
}